{{ define "main" }}

{{ partial "navigation.html" . }}

{{ $data := .Params.privacy_notice }}
{{ with $data }}
<section id="privacy-section">
  <div class="bg-img" style='background-image: url("{{ .main_bg_image | absURL }}"'>
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="m-5 p-5 text-center color-3 big-title">{{ .main_title | markdownify }}</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 padding-0">
          <div class="post-single-content">
            <section class="section section-bg about-2 padding-0" id="who">
                <div class="container">
                    <table class="table">
                        <tbody>
                            {{ range .table_item }}
                            <tr>
                                <th scope="row">{{ .table_title | markdownify }}</th>
                                <td>{{ .table_content | markdownify}}</td>
                            </tr>
                            {{ end}}
                        </tbody>
                    </table>
                </div>
            </section>
          </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}