{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img style="display: none;"
		onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'"
		src="{{ .bg_image_webp | absURL }}" />

	<div class="container-fluid">
		<div class="row justify-text text-left">
			<div class="col-xl-12">
				<div class="block">
					{{"<!-- testimonial wrapper -->" | safeHTML}}
					<div id="capsus-intro" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
						{{ range .banner_item }}
						{{"<!-- testimonial single -->" | safeHTML}}
						<div class="item text-center">
							{{"<!-- client info -->" | safeHTML}}
							<div class="client-info">
								<div class="client-meta">
									<h1>{{ .banner_title | markdownify }}</h1>
									<p>{{ .banner_content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{"<!-- /testimonial single -->" | safeHTML}}
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}