{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section class="hero-area" style='background-image: url("{{ .bg_image | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img style="display: none;"
		onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'"
		src="{{ .bg_image | absURL }}" />

	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="block">
					{{"<!-- testimonial wrapper -->" | safeHTML}}
					<div id="capsus-intro" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
						{{ range .banner_item }}
						{{"<!-- testimonial single -->" | safeHTML}}
						<div class="item">
							<div class="container">
								<div class="row justify-text pt-5 mt-5">
									{{ if eq .banner_id "main" }}
									<div class="col-lg-8 text-left my-auto">
										<h1>{{ .banner_title | markdownify }}</h1>
										<h2 style="color: {{ .color }}">{{ .banner_content | markdownify }}</h2>
									</div>
									{{ else }}
									<div class="col-lg-8 text-left my-auto">
										<h1>
											<span>{{ .banner_title | markdownify }}</span> <span style="color: {{ .color }}">{{ .banner_content | markdownify }}</span>
										</h1>
									</div>
									{{ end }}
									<div class="col-lg-4 my-auto">
										<img class="img-fluid" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .banner_image | absURL }})'" src="{{ .banner_image_webp | absURL }}" />
									</div>
								</div>
							</div>
						</div>
						{{"<!-- /testimonial single -->" | safeHTML}}
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}