{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.clients.clients.enable }}
{{ with $data.clients.clients }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="client" class="testimonial overly section bg-2 bg-one">
	<!-- this image is for trigger this section fallback background image -->
	<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'" src="{{ .bg_image_webp | absURL }}" />
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				{{"<!-- testimonial wrapper -->" | safeHTML}}
				<div id="clients" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
					{{ range .client_item }}
					{{"<!-- testimonial single -->" | safeHTML}}
					<div class="item text-center">
						{{"<!-- client photo -->" | safeHTML}}
						<div class="client-thumb">
							<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
						</div>
					</div>
					{{"<!-- /testimonial single -->" | safeHTML}}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}