{{ define "main" }}

{{ partial "navigation.html" . }}

{{ $data := .Params.jobs }}
{{ with $data }}
<section id="jobs-section">
  <div class="bg-img" style='background-image: url("{{ .main_bg_image | absURL }}"'>
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="m-5 p-5 text-center color-3 big-title">{{ i18n "employment" | markdownify }} <span class="color">{{ i18n "employment2" | markdownify }}</span></h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 p-5">
        <ul class="nav nav-pills nav-justified mb-3" id="pills-jobs" role="tablist">
          {{ range .job_item }}
          <li class="nav-item">
            <a class="btn btn-transparent" onclick="$('#jobs-intro').hide();" id="pills-{{ .job_id }}" data-toggle="pill" href="#{{ .job_id }}" role="tab" aria-controls="{{ .job_id }}" aria-selected="false">
              {{ .name | markdownify }}
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-12" id="jobs-intro">
        <div class="row section-bg justify-content-center py-5">
          <div class="container text-center">
            <h2 class="color">{{ .job_intro_title | markdownify }}</h2>
            <h3 class="color-3">{{ .job_intro_content | markdownify }}</h3>
            <img class="img-fluid pt-5" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .job_intro_image | absURL }})'" src="{{ .job_intro_image | absURL }}" />
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-12 padding-0">
          <div class="tab-content" id="pills-jobsContent">
            {{ range .job_item }}
            <div class="tab-pane fade content-fluid" id="{{ .job_id }}" role="tabpanel" aria-labelledby="{{ .job_id }}-tab">
              <div class="row section-bg">
                <div class="justify-content-center container pt-5">
                  <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h1 class="text-center"><span class="color-3">{{ .title }}</span> <span class="color"> {{ .subtitle}}</span></h1>
                    <div class="border-meghna-gray"></div>
                  </div>
                </div>
              </div>
              <div class="row section-bg">
                <div class="container p-2 mb-3">
                  <div class="row justify-content-center">
                    {{ if eq .job_id "jobs" }}
                      <div class="col-lg-5">
                        <h2>
                          {{ range .info1 }}
                            {{ .info1_title | markdownify }}
                          {{ end }}
                        </h2>
                        <span>
                          {{ range .info1 }}
                            {{ .info1_content | markdownify }}
                          {{ end }}
                        </span>
                        {{"<!-- Footer Social Links -->" | safeHTML}}
                        <div class="social-icon py-5">
                          <ul class="list-inline text-left">
                            {{ with site.Params }}
                            {{ range .social }}
                            <li class="list-inline-item text-center"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                            {{ end }}
                            {{ end }}
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-1 vr"></div>
                      <div class="col-lg-5">
                        <h2>
                          {{ range .info2 }}
                            {{ .info2_title | markdownify }}
                          {{ end }}
                        </h2>
                        <ol>
                          {{ range .info2 }}
                            {{ range .info2_item }}
                              <li>
                                {{ .info2_content | markdownify }}
                              </li>
                            {{ end }}
                          {{ end }}
                        </ol>
                        <br>
                        <h2 class="recruitment">
                          {{ range .info3 }}
                            {{ .info3_title | markdownify }}
                          {{ end }}
                        </h2>
                        <span>
                          {{ range .info3 }}
                            {{ .info3_content | markdownify }}
                          {{ end }}
                        </span>
                      </div>
                    {{ end }}
                    {{ if eq .job_id "internships" }}
                    <div class="col-lg-5">
                      <h2>
                        {{ range .info1 }}
                          {{ .info1_title | markdownify }}
                        {{ end }}
                      </h2>
                      <span>
                        {{ range .info1 }}
                          {{ .info1_content | markdownify }}
                        {{ end }}
                      </span>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                      <img class="img-fluid" alt="{{ .name }}" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .job_image | absURL }})'" src="{{ .job_image_webp | absURL }}" />
                    </div>
                    <hr class="col-lg-11 pb-4" style="border-top: 2px solid rgba(128, 128, 128, 0.2);">
                    <div class="col-lg-5"><h2>
                      {{ range .info2 }}
                        {{ .info2_title | markdownify }}
                      {{ end }}
                    </h2>
                    <ol>
                      {{ range .info2 }}
                        {{ range .info2_item }}
                          <li>
                            {{ .info2_content | markdownify }}
                          </li>
                        {{ end }}
                      {{ end }}
                    </ol>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                      <h2 class="recruitment">
                        {{ range .info3 }}
                          {{ .info3_title | markdownify }}
                        {{ end }}
                      </h2>
                      <span>
                        {{ range .info3 }}
                          {{ .info3_content | markdownify }}
                        {{ end }}
                      </span>
                    </div>
                    {{ end }}
                  </div>
                </div>
              </div>
              {{ if eq .job_id "jobs" }}
              {{ range .info4 }}
              <section class="section about-2 padding-0" id="who">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 pt-5">
                      <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                        <h1 class="text-center color-2">{{ .info4_title | markdownify }}</h1>
                        <div class="border-meghna"></div>
                      </div>
                    </div>
                  </div>
                  {{ if .info4_item }}
                  <ul class="row justify-content-center mb-5" id="pills-vacancies" role="tablist">
                      {{ range .info4_item }}
                      <li class="nav-item col-lg-4 col-md-6 col-sm-12 col-12">
                        <a id="pills-{{ .info4_id }}" data-toggle="pill" href="#{{ .info4_id }}" role="tab" aria-controls="{{ .info4_id }}" aria-selected="false">
                          <div class="team-member">
                            <div class="member-photo section-bg">
                              {{"<!-- member photo -->" | safeHTML}}
                              <img class="img-fluid" data-src="{{ .info4_image_webp | absURL }}" src="{{ .info4_image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .tab_image | absURL }}'" alt="{{ .info4_item_name }}">
                            </div>
                    
                            {{"<!-- member name & designation -->" | safeHTML}}
                            <div class="text-left text-justify pt-2">
                              <h5 class="case-years color font-weight-bold">{{ .info4_status | markdownify }}</h5>
                              <h5 class="color-2">{{ .info4_item_fulltitle | markdownify }}</h5>
                            </div>
                          </div>
                        </a>
                      </li>
                      {{ end }}
                  </ul>
                  {{ else }}
                  <div class="row justify-content-center">
                    <div class="col-lg-12 my-auto text-center">
                      <h3 class="color-2 my-5 font-weight-bold font-italic">
                        {{ i18n "vacancies" }}
                      </h3>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </section>
              <div class="row bg-two">
                <div class="container px-5">
                  <div class="row" id="vacants-section">
                    <div class="col-lg-12">
                      <div class="tab-content" id="pills-specContent">
                        {{ range .info4_item }}
                        <div class="tab-pane fade content-fluid" id="{{ .info4_id }}" role="tabpanel" aria-labelledby="{{ .info4_id }}-tab">
                            <div class="row color-2">
                              <div class="col-lg-12 p-5">
                                <div class="justify-content-center text-center">
                                  <h3 class="color-2 font-weight-bold">{{ .info4_item_title1 | markdownify }}</h3>
                                  <h4 class="color-2 font-weight-bolder">{{ .info4_item_title2 | markdownify }}</h4>
                                </div>
                              </div>
                            </div>
                            <div class="justify-content-center row color-2 px-5 pb-5">
                              <div class="col-lg-12">
                                <div class="text-left color-2">
                                  {{ .info4_item_content | markdownify }}
                                </div>
                              </div>
                            </div>
                        </div>
                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{ end }}
              {{ end }}
              {{ if eq .job_id "internships" }}
              {{ range .info4 }}
              <section class="bg-one about-2 padding-0" id="who">
                <div class="container-fluid padding-0">
                  <div class="row">
                    <div class="col-lg-6" style="background-image: url('{{ .info4_image_webp | absURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
                      <!-- this image is for trigger this section fallback background image -->
                      <img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .info4_image | absURL }})'" src="{{ .info4_image_webp | absURL }}" />
                    </div>
                    <div class="col-lg-6">
                      <div class="content-block">
                        <h2 class="color">{{ .info4_title | markdownify }}</h2>
                        <ul class="check-list">
                          {{ range .info4_item }}
                          <li class="p-1"><i class="color fas fa-check-circle fa-li"></i><span class="color-2">{{.info4_content | markdownify }}</span></li>
                          {{ end }}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              {{ end }}
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
        {{ if .Site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<script>
  function changeCase() {
		x.find('h5').toggleClass('color-2').toggleClass('color');
	}
</script>
{{ end }}
{{ partial "contact.html" . }}
{{ end }}
