{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section section-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="color">404</h1>
        <h3 class="color-3">No se Encontró la Página / Page Not Found</h3>
        <img src="{{ .Site.Params.not_found | absURL }}" alt="404 Error!" class="img-fluid mx-auto mt-3" style="width: 40%;">
      </div>
      <div class="col-12 text-center mt-5">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <a href="#" class="btn btn-transparent" onclick="history.go(-1); event.preventDefault();">Regresar / Back</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <a class="btn btn-transparent" href="{{ .Site.BaseURL | relLangURL }}">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}