{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}
<!--Somos-->
{{ partial "cta.html" . }}
<!--Quienes somos-->
{{ partial "who.html" . }}
<!--Nuestras especialidades-->
{{ partial "specialties.html" . }}
<!--Enfocados a-->
{{ partial "feature.html" . }}
<!--Alcance-->
{{ partial "funfacts.html" . }}
<!--Nuestros servicios-->
{{ partial "service.html" . }}
<!--Clientes-->
{{ partial "clients.html" . }}
<!--Nuestro equipo-->
{{ partial "portfolio.html" . }}
<!--Testimonios-->
{{ partial "testimonial.html" . }}
<!--Contacto-->
{{ partial "contact.html" . }}

{{ partial "map.html" . }}

<!--{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}-->

{{ end }}