{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}
<!--Somos-->
{{ partial "cta.html" . }}
<!--Quienes somos-->
{{ partial "who.html" . }}
<!--Nuestras especialidades-->
{{ partial "expertise.html" . }}
<!--Enfocados a-->
{{ partial "feature.html" . }}
<!--Alcance-->
{{ partial "funfacts.html" . }}
<!--Nuestros servicios-->
{{ partial "service.html" . }}
<!--Clientes-->
{{ partial "clients.html" . }}
<!--Nuestro equipo-->
{{ partial "team.html" . }}
<!--Únete-->
{{ partial "joinus.html" . }}
<!--Testimonios-->
{{ partial "testimonial.html" . }}
<!--Contacto-->
{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}